body {
background: #ffffff;
margin: 30px;
}

.col-3 {
  background: #1B1721;
  width: 390px;
  height: 65px;
  margin: 55px -5px 50px 0;
  display: inline-block;
  padding: 40px 0 0 0;
  float: left;
}
.search {
  font-family: Alegreya Sans SC; san-serif;
  color: rgba(27,23,33,0.5);
  text-transform: uppercase;
  margin: -24px 100px 20px 50px;
  padding: 4px 191px 3px 10px;
}
.col-flex  {
  margin: 20px -5px 0 -5px;
  display: inline-block;
}
.logo {
    box-shadow: 0 2px 4px #131313;
    max-width: 410px;
    object-fit: contain;
    margin-top: 0;
    margin-right: -50px;
    margin-bottom: 50px;
    position: static;
}
.svg-menu {
  display: inline-block;
  margin: 55px 0 0 -50px;
  float: right;
  position:static;
}
a {
font-family: AlegreyaSansSC-Light;
font-size: 24px;
color: #1B1721;
-webkit-transition: background-color .7s ease-out;
  -moz-transition: background-color .7s ease-out;
  -o-transition: background-color .7s ease-out;
  transition: background-color .7s ease-out;
}
a:hover {
  color: white;
  background-color: rgba(31,137,190,0.6);
  text-decoration: none;
}

.col-6 > h2 {
font-family: AlegreyaSans-Medium; sans-serif;
font-size: 36px;
color: #000000;
margin-top: 70px;
margin-bottom: 2px;
}

.col-6 > p{
font-family: AlegreyaSans-Light;
font-size: 22px;
color: #000000;
margin-top: 25px;
}

.new-arrivals{
    width: 301px;
    height: 384px;
    margin-top: 28px;
    display: inline-block;
}

.image img {
    float: right;
    display: inline;
    width: 528px;
    height: 800px;
    z-index: -1; position:relative;
}
.image > h3 {
font-family: AlegreyaSans-Regular;
font-size: 20px;
color: #111111;
float: right;
text-transform: uppercase;
margin-right: -300px;
z-index: inherit;
}

.image > h1 {
font-family: AlegreyaSans-Light;
font-size: 48px;
color: #111111;
float: right;
margin-top: 70px;
margin-right: -310px;
z-index: inherit;
}
